body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-image: url('./background.jpg');
}

.image-tittle {
  width: 350px;
  height: 255px;
}

.list-of-news {
  display: flex;
  justify-content: space-around;
}

.header {
  margin-left: 80%;
  margin-top: 1vw;
  display: flex;
}

.user-page {
  position: relative;
}

.user-avatar {
  background-repeat: no-repeat;
  width: 250px;
  height: 255px;
  background-size: 350px, 300px;
  padding: 0;
  border: 0;
}

.searching-field {
  margin-left: 40vw;
  margin-top: 10vh;
  margin-bottom: 2vw;
}

.link {
  margin-left: 10px;
}

.pagination {
  display: flex;
  list-style-type: none;
  /* margin-left: 35%; */
  margin-top: 2vw;
}

.main-page-paginator {
  display: flex;
  list-style-type: none;
  margin-left: 35%;
  margin-top: 2vw;
}

.pagination li {
  width: 30px;
  height: 10px;
}

.pagination .previous {
  margin-right: 10px;
}

.auth-page {
  margin-top: 20px;
}

.main-page-link {
  margin-left: 80%;
}

.auth-block {
  margin-left: 45%;
  margin-top: 10%;
}

.user-page {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.news-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .news-and-paginate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.modal {
  position: absolute;
  width: 400px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 40%;
  left: 40%;
}

.edit-field {
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.title-input {
  width: 100%;
  display: flex;
  justify-content: center;
}
